<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>JavaScript Starter Kit</title>
    <style>
        @import '../../styles/index.scss';
    </style>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.0.3/index.global.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bulma-calendar@6.1.18/dist/js/bulma-calendar.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bulma-calendar@6.1.18/dist/css/bulma-calendar.min.css" rel="stylesheet">
    </link>

    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.0.3/main.min.css" rel="stylesheet">
    </link>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body id="ProfileA">
    <nav class="navbar has-shadow" role="navigation" aria-label="main navigation" id="ProfileB">
        <div class="navbar-brand">
            <a class="navbar-item" href="../../index.html">
                <p class="title has-text-primary">Untitled</p>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Schedule
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="../../index.html">
                            View Scheldule
                        </a>
                        <a class="navbar-item js-modal-trigger" data-target="homework-modal">
                            Add Homework
                        </a>
                        <a class="navbar-item js-modal-trigger" data-target="test-modal">
                            Add Test/Quiz
                        </a>
                    </div>
                </div>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Course
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="../Course/Course.html">
                            View Courses
                        </a>
                        <a class="navbar-item js-modal-trigger" data-target="course-modal">
                            Add Course
                        </a>
                    </div>
                </div>

                <a class="navbar-item" href="../Tutor/tutor.html">
                    Tutor
                </a>

                <a class="navbar-item" href="./Profile.html">
                    Profile
                </a>

            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light">
                            Log in
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- HW popup modal -->
    <div class="modal" id="homework-modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <p class="subtitle has-text-centered">New Homework</p>
                <div class="columns">
                    <input class="input" type="text" placeholder="Name" id="hw-name">
                    <div class="select is-primary">
                        <select id="hw-course">
                            <option>Course</option>
                        </select>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-7 has-text-primary">
                        <p>Due date:</p>
                    </div>
                    <div class="column is-2" style="text-align:right;">
                        <input type="date" id="hw-date" />
                    </div>
                    <div class="column is-1" style="text-align:right;">
                    </div>
                    <div class="column is-2" style="text-align:right;">
                        <input type="time" id="hw-time" />
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-6" style="text-align:right;">
                        <p class="button is-outlined cancel-btn">Cancel</p>
                    </div>
                    <div class="column is-6">
                        <p class="button is-primary cancel-btn" id="add-hw-btn">Add</p>
                    </div>
                </div>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <!-- Test popup modal -->
    <div class="modal" id="test-modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <p class="subtitle has-text-centered">New Test/Quiz</p>
                <div class="columns">
                    <input class="input" type="text" placeholder="Name" id="test-name">
                    <div class="select is-primary">
                        <select id="test-course">
                            <option>Course</option>
                        </select>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-7 has-text-primary">
                        <p>Due date:</p>
                    </div>
                    <div class="column is-2" style="text-align:right;">
                        <input type="date" id="test-date" />
                    </div>
                    <div class="column is-1" style="text-align:right;">
                    </div>
                    <div class="column is-2" style="text-align:right;">
                        <input type="time" id="test-time" />
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-6" style="text-align:right;">
                        <p class="button is-outlined cancel-btn">Cancel</p>
                    </div>
                    <div class="column is-6">
                        <p class="button is-primary cancel-btn cancel-btn" id="add-test-btn">Add</p>
                    </div>
                </div>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <!-- Course popup modal -->
    <div class="modal" id="course-modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <p class="subtitle has-text-centered">New Course</p>
                <div class="columns">
                    <input class="input" id="course-name" type="text" placeholder="Name">
                </div>
                <div class="columns">
                    <div class="column is-6" style="text-align:right;">
                        <p class="button is-outlined cancel-btn">Cancel</p>
                    </div>
                    <div class="column is-6">
                        <p class="button is-primary cancel-btn" id="add-course-btn">Add</p>
                    </div>
                </div>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <!--Profile Pic-->
    <div class="has-text-centered mt-5">
        <p class="has-text-link title">Profile</p>
        <figure class="image is-128x128">
            <img class="is-rounded" src="profile.png" id="Profilepic">
    </div>
    <div class="file is-primary" id="ProfileButton0">
        <label class="file-label">
            <input class="file-input" type="file" name="resume">
            <span class="file-cta">
                <span class="file-label">
                    Primary file…
                </span>
            </span>
        </label>
    </div>
    <!-- Full Name Information-->
    <div class="box" id="Pbox1">
        <div class="field">
            <label class="label" id="FullName">Full Name</label>
            <div class="control">
                <input class="input" type="email" value="Shawzub Raza" id="FullName">
            </div>
        </div>
    </div>
    <!-- Email Information-->
    <div class="box" id="Pbox2">
        <div class="field">
            <label class="label" id="FullName">Email</label>
            <div class="control">
                <input class="input" type="email" value="Tictac@msu.edu" id="FullName">
            </div>
        </div>
    </div>
    <!--Subscription Plan-->
    <div class="box" id="Pbox1">
        <div class="field">
            <label class="label" id="FullName">Phone Number</label>
            <div class="control">
                <input class="input" type="email" value="313-500-5151" id="FullName">
            </div>
        </div>
    </div>
</body>

<script type="module">
    import '../calendar.js';
    import '../navbar.js';
</script>

</html>