<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<title>Responsive Card Slider</title>-->

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="../../Screen Shot 2023-01-29 at 6.59.22 AM.png" />
    <title>Omnia</title>
    <style>
        @import '../../styles/index.scss';
    </style>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.0.3/index.global.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bulma-calendar@6.1.18/dist/js/bulma-calendar.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bulma-calendar@6.1.18/dist/css/bulma-calendar.min.css" rel="stylesheet">
    </link>

    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.0.3/main.min.css" rel="stylesheet">
    </link>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body id="ProfileA">
    <nav class="navbar has-shadow" role="navigation" aria-label="main navigation" id="ProfileB">
        <div class="navbar-brand">
            <a class="navbar-item" href="../../index.html">
                <p class="title has-text-primary">Omnia</p>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Schedule
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="../../index.html">
                            View Scheldule
                        </a>
                        <a class="navbar-item js-modal-trigger" data-target="homework-modal">
                            Add Homework
                        </a>
                        <a class="navbar-item js-modal-trigger" data-target="test-modal">
                            Add Test/Quiz
                        </a>
                    </div>
                </div>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Course
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="../Course/Course.html">
                            View Courses
                        </a>
                        <a class="navbar-item js-modal-trigger" data-target="course-modal">
                            Add Course
                        </a>
                    </div>
                </div>

                <a class="navbar-item" href="../Tutor/tutor.html">
                    Tutor
                </a>

                <a class="navbar-item" href="../Profile/Profile.html">
                    Profile
                </a>

            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <button class="js-modal-trigger button is-primary" data-target="modal-js-example">
                            Sign Up
                        </button>
                        <button class="js-modal-trigger button is-light" data-target="modal-js-examples">
                            Login
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- HW popup modal -->
    <div class="modal" id="homework-modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <p class="subtitle has-text-centered">New Homework</p>
                <div class="columns">
                    <input class="input" type="text" placeholder="Name" id="hw-name">
                    <div class="select is-primary">
                        <select id="hw-course">
                            <option>Course</option>
                        </select>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-7 has-text-primary">
                        <p>Due date:</p>
                    </div>
                    <div class="column is-2" style="text-align:right;">
                        <input type="date" id="hw-date" />
                    </div>
                    <div class="column is-1" style="text-align:right;">
                    </div>
                    <div class="column is-2" style="text-align:right;">
                        <input type="time" id="hw-time" />
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-6" style="text-align:right;">
                        <p class="button is-outlined cancel-btn">Cancel</p>
                    </div>
                    <div class="column is-6">
                        <p class="button is-primary cancel-btn" id="add-hw-btn">Add</p>
                    </div>
                </div>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <!-- Test popup modal -->
    <div class="modal" id="test-modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <p class="subtitle has-text-centered">New Test/Quiz</p>
                <div class="columns">
                    <input class="input" type="text" placeholder="Name" id="test-name">
                    <div class="select is-primary">
                        <select id="test-course">
                            <option>Course</option>
                        </select>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-7 has-text-primary">
                        <p>Due date:</p>
                    </div>
                    <div class="column is-2" style="text-align:right;">
                        <input type="date" id="test-date" />
                    </div>
                    <div class="column is-1" style="text-align:right;">
                    </div>
                    <div class="column is-2" style="text-align:right;">
                        <input type="time" id="test-time" />
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-6" style="text-align:right;">
                        <p class="button is-outlined cancel-btn">Cancel</p>
                    </div>
                    <div class="column is-6">
                        <p class="button is-primary cancel-btn cancel-btn" id="add-test-btn">Add</p>
                    </div>
                </div>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <!-- Course popup modal -->
    <div class="modal" id="course-modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <p class="subtitle has-text-centered">New Course</p>
                <div class="columns">
                    <input class="input" id="course-name" type="text" placeholder="Name">
                </div>
                <div class="columns">
                    <div class="column is-6" style="text-align:right;">
                        <p class="button is-outlined cancel-btn">Cancel</p>
                    </div>
                    <div class="column is-6">
                        <p class="button is-primary cancel-btn" id="add-course-btn">Add</p>
                    </div>
                </div>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <!--Carousel-->
    <div class="slide-container swiper">
        <div class="slide-content">
            <div class="card-wrapper swiper-wrapper">
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="./Photos/360_F_219633151_BW6TD8D1EA9OqZu4JgdmeJGg4JBaiAHj.jpg" alt=""
                                class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">George Vernon</h2>
                        <p class="description">I am MSU Grad in Mathematics. I love watching Marvels movies and learning
                            about
                            mathematical theroms. I find teaching more fun then a job!
                        </p>

                        <button class="js-modal-trigger button" data-target="modal-Availability">View
                            Availability</button>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="./Photos/360_F_432896398_99o08tTgBYj8YP2eatvF4zaJu3AdF40E.jpg" alt=""
                                class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">Rami Patel</h2>
                        <p class="description">I am Wayne State Grad in Mathematics and Physics. I love looking up at
                            the stars
                            and admiring my students process throughout the generations.
                        </p>

                        <button class="button">View Availability</button>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="./Photos/istockphoto-1280113805-612x612.jpg" alt="" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">Racheal Evergarden</h2>
                        <p class="description">I am Schoolcraft graduate in Computer Science and Mathematics. I love
                            reading books
                            especially fiction. I always see my students as second family!
                        </p>

                        <button class="button">View Availability</button>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="./Photos/istockphoto-1355110818-612x612.jpeg" alt="" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">David Villa</h2>
                        <p class="description">I am High School teacher looking for a side hustle. Love the Detroit
                            hustle life and exploring Detroit. I also respect
                            the students who grind!
                        </p>

                        <button class="button">View Availability</button>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="./Photos/download.jpeg" alt="" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">Diglet</h2>
                        <p class="description">I known Earth Essential Science like the back of my hand. That's if I had
                            any.
                            Im one to drive passion in my students to grow and for them to love the earth!
                        </p>

                        <button class="button">View Availability</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-button-next swiper-navBtn"></div>
        <div class="swiper-button-prev swiper-navBtn"></div>
        <div class="swiper-pagination"></div>
    </div>

    <!--Sign Up Modal-->
    </div>
    <div id="modal-js-example" class="modal">
        <div class="modal-background"></div>

        <div class="modal-content">
            <div class="box">
                <form class="box">
                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control">
                            <input class="input" type="email" placeholder="e.g. alex@example.com">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Password</label>
                        <div class="control">
                            <input class="input" type="password" placeholder="********">
                        </div>
                        <label class="label">Retype Password</label>
                        <div class="control">
                            <input class="input" type="password" placeholder="********">
                        </div>
                    </div>

                    <button class="button is-primary">Sign Up</button>
                </form>
            </div>
        </div>

        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <!--Login Modal-->
    </div>
    <div id="modal-js-examples" class="modal">
        <div class="modal-background"></div>

        <div class="modal-content">
            <div class="box">
                <form class="box">
                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control">
                            <input class="input" type="email" placeholder="e.g. alex@example.com">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Password</label>
                        <div class="control">
                            <input class="input" type="password" placeholder="********">
                        </div>
                    </div>

                    <button class="button is-primary">Sign In</button>
                </form>
            </div>
        </div>

        <button class="modal-close is-large" aria-label="close"></button>
    </div>

</body>

<script src="js/swiper-bundle.min.js"></script>
<script src="js/script.js"></script>

</html>