@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
  overflow-x: hidden;
}

.nav {
  border: 1;
}

#content-wrapper {
  display: flex;
  width: 100%;
  height: 60vh;
  margin: 20px;

  #calendar-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    #calendar {
      height: 100%;
      width: 80%;
    }
  }


}

#Course {
  text-align: center;
  font-size: large;
  font-weight: bold;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.input-s {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5;
  background-color: rgb(95, 206, 179);
  border-collapse: separate;
  border-radius: 3px;
}

#table {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  border-collapse: separate;
  border-radius: 5px;
  background-color: rgb(18, 209, 178);


}

.table2 {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  border-collapse: separate;
  border-radius: 5px;
  width: 80vw;
}

td {
  height: 50px;
}


#yellow {
  background-color: yellow;
}

#red {
  background-color: rgb(108, 20, 23);
  color: beige;
}


#table td {

  width: 200px;
  font-size: large;
  text-align: center;
  padding: 10px;


}

#black {
  background-color: white;
  color: black;
}

#Profilepic {
  border-collapse: separate;
  margin-left: 650;
  margin-top: 10;
}

#headshot {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin-left: 668;
  margin-top: 10;

}

#ProfileButton0 {
  border-collapse: separate;
  margin-left: 650px;
  margin-top: 10px;
}

#Pbox1 {
  margin-right: 200;
  margin-left: 200;
  margin-top: 10;
  background-color: turquoise;
  border-collapse: separate;
}

#Pbox2 {
  margin-top: 10;
  margin-right: 200;
  margin-left: 200;
  max-height: 150;
  background-color: turquoise;
}

#FullName {
  text-align: center;
}

#ProfileB {
  background-color: white;
}

#Pbox3 {

  width: 740;
  height: 10;
  padding: 10px;

}

#DropDown {
  overflow: scroll;
}

#ButtonP {
  margin-bottom: 30;
  margin-left: 10;
}

#filedrop {
  text-align: left;
  margin: auto;
}

#ProfileA {
  background-color: white;
}

.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}

.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

.card {
  border-radius: 20px;
  background-color: #FFF;
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: turquoise;
  border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: turquoise;
}

.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}

.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 0%;

  padding: 3px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50% 50% 50% 50%;
  border: 4px solid steelblue;
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}

.button {
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #4070F4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background: #265DF2;
}

.swiper-navBtn {
  color: #6E93f7;
  transition: color 0.3s ease;
}

.swiper-navBtn:hover {
  color: #4070F4;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: #6E93f7;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #4070F4;
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }

  .swiper-navBtn {
    display: none;
  }
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}


/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text],
.form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}